body {
    /*margin: 0;
    padding: 0;*/
    font-family: 'Shadows Into Light', cursive;
}

nav {
    padding-left: 250px;
}

img {
    height: 110px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
    font-size: x-large;
}

li {
    font-size: medium;
    color: red;
    list-style-type: none;
    padding-bottom: 10px;
}

form {
    margin-top: 20px;
    text-align: center;
    font-size: x-large;
}

label {
    display: block;
}

input, textarea, select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    max-width: 50%;
    width: 40vw;
}

.crumb {
    display: inline-block;
    color: white;
}

.logo-titre {
    padding: 30px 30px 0 250px;
    display: inline-flex;
}

.header {
    width: 100%;
    color: white;
    background: linear-gradient(130deg, #000000, #132135);;
}

.header-title {
    margin-left: 15px;
    font-size: xx-large;
}

.footer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 30px;
    width: 100%;
    color: white;
    background: linear-gradient(260deg, #000000, #132135);;
}

.wishLi {
    margin-bottom: 20px;
}

.mainAboutUs {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    /*padding: 100px;*/
}

.creator {
    padding: 50px;
    justify-content: center;
}

.aboutUs, .wishlistTitle {
    text-align: center;
    font-size: xxx-large;
}

.whislist {
    width: 80%;
    margin: 50px;
    font-size: x-large;
    max-height: 50vh;
    overflow-y: scroll;
}

.details {
    width: 80%;
    margin: 50px;
    font-size: x-large;
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: larger;
    margin: 1rem;
    border-radius: 5px;
    width: 20vw;
    text-align: center;
}

.flash-success {
    background-color: yellowgreen;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumbs2 ol {
    list-style-type: none;
    position: fixed;
    top: 10px;
    right:10px;
}

.crumbs2 li{
    display: inline-block;
    text-decoration: none;
    color: deepskyblue;
    padding-right: 20px;
    font-size: x-large;

}

.aList {
    color: black;
}

.aBody {
    display: flex;
    color: black;
    font-size: xx-large;
    justify-content: center;
}

.aBody:hover {
    display: flex;
    color: red;
    font-size: xx-large;
    justify-content: center;
}

.bodyMain {
    width: 100%;
    padding: 30px 0 70px 0;
    font-size: xxx-large;
    text-align: center;
    vertical-align: center;
}

.rememberMe {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.remember{
    padding-right: 10px;
}

.loginButton{
    display:flex;
    justify-content: center;
}

    #bucket {
        height: 80px;
    }
