<nav class="crumbs">
    <ol>
        <li class="crumb"><a href="{{ path('main_home') }}">Home</a></li>
        <li class="crumb"><a href="#">All wishes</a></li>
        <li class="crumb"><a href="#">About us</a></li>
        <li class="crumb"><a href="#">Add a wish</a></li>
        <li class="crumb"><a href="#">Create account</a></li>

    </ol>
</nav>