<nav class="crumbs">
    <ol>
        <li class="crumb"><a href="{{ path('main_home') }}">Home</a></li>
        <li class="crumb"><a href="{{ path('wish_list') }}">All wishes</a></li>
        <li class="crumb"><a href="{{ path('main_aboutUs') }}">About us</a></li>
        <li class="crumb"><a href="{{ path('wish_new') }}">Add a wish</a></li>
        <li class="crumb"><a href="#">Create account</a></li>

    </ol>
</nav>