{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block main %}
    <div class="bodyMain">
        <p>
            Welcome on the collaborative Bucket-List
        </p>

        <p>
            Please feel free to feed that list so we can have more beautiful lives !
        </p>
    </div>
    <div>
        <a class="aBody" href="#">  ⇝ All Wishes ⇜ </a>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
